:root {
  --font-one: "Epilogue", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-family: var(--font-one);
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.right-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.github {
  font-size: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.right-nav button {
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  font-family: var(--font-one);
  cursor: pointer;
}

.right-nav button:hover {
  border: 1px solid;
}

a {
  text-decoration: none;
  color: #000;
}
