* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
}

:root {
  --font-one: "Epilogue", sans-serif;

  --white: hsl(0, 0%, 98%);
  --grey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

.hero-container,
nav {
  max-width: 1440px;
  margin: auto;
  padding: 2rem;
  font-family: var(--font-one);
}

nav {
  max-width: none;
}

nav,
.hero-container,
.left-nav,
.left-nav ul,
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav ul,
.left-nav {
  gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  color: var(--grey);
  background-color: transparent;
  transition: transform 100ms ease-out;
}
button:active {
  transform: scale(0.9);
}
.border {
  border: 2px solid var(--grey);
}

.hero-container {
  margin-top: 3rem;
}

.hero-img img {
  width: 30vw;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 40%;
}

.hero-texts button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.2rem;
}

.hero-texts p {
  line-height: 1.7rem;
  width: 80%;
  color: var(--grey);
  font-size: 1.3rem;
}

.hero-texts h1 {
  font-size: 5vw;
}

.hero-left-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.right-nav {
  gap: 2rem;
}

.mobile {
  display: none;
}

@media (max-width: 850px) {
  .hero-container {
    flex-direction: column-reverse;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile img {
    width: 100%;
  }

  .hero-texts {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .hero-texts h1 {
    font-size: 6vw;
  }

  .left-nav ul {
    display: none;
  }
}
@media (max-width: 480px) {
  .hero-left-logos {
    flex-direction: column;
  }

  .hero-texts h1 {
    font-size: 9vw;
  }

  .hero-texts p {
    width: 100%;
  }
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  .right-nav {
    gap: 1rem;
  }
  .hero-container {
    margin-top: 0;
  }

  .hero-texts {
    margin-top: 2rem;
  }
}
